name: CD - Deploy to ECS using Terraform

on:
  workflow_run:
    workflows: ["CI - Build & Push Strapi Image to ECR"]
    types:
      - completed

  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/cd.yml"

  workflow_dispatch:

env:
  AWS_REGION: eu-north-1
  IMAGE_URI: 301782007642.dkr.ecr.eu-north-1.amazonaws.com/shoaib-strapi-image:latest
  CODEDEPLOY_APP: strapi-ecs-app-shoaib
  CODEDEPLOY_DG: strapi-dg

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: >
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'

    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

     
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      
      - name: Terraform Plan
        working-directory: terraform
        run: |
          terraform plan \
            -input=false \
            -var="image_uri=${IMAGE_URI}"

    
      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -input=false \
            -var="image_uri=${IMAGE_URI}"

      
      - name: Prepare task definition
        run: |
          sed "s|IMAGE_URI|${IMAGE_URI}|g" \
          appspec/taskdef-template.json > taskdef.json

    
      - name: Register ECS task definition
        run: |
          aws ecs register-task-definition \
            --cli-input-json file://taskdef.json

      
      - name: Create CodeDeploy deployment
        run: |
          APPSPEC_CONTENT=$(sed 's/"/\\"/g' appspec/appspec.yml | tr '\n' '\\n')

          jq --arg content "$APPSPEC_CONTENT" \
            '.appSpecContent.content = $content' \
            revision.json > revision-final.json

          aws deploy create-deployment \
            --application-name $CODEDEPLOY_APP \
            --deployment-group-name $CODEDEPLOY_DG \
            --revision "$(cat revision-final.json)" \
            --region eu-north-1

