name: CD - Deploy to ECS using Terraform

on:

  workflow_run:
    workflows: ["CI - Build & Push Strapi Image to ECR"]
    types:
      - completed


  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/cd.yml"

 
  workflow_dispatch:

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  ECR_REPOSITORY: shoaib-strapi-image

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    #  Condition:
    # - Allow if triggered by push/workflow_dispatch
    # - Allow workflow_run ONLY if CI succeeded
    if: |
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set IMAGE_URI for ECS
        run: |
          if [ "${{ github.event_name }}" = "workflow_run" ]; then
            IMAGE_TAG="${{ github.event.workflow_run.head_sha }}"
          else
            IMAGE_TAG="${{ github.sha }}"
          fi

          echo "IMAGE_URI=301782007642.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:latest" >> $GITHUB_ENV

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan -var="image_uri=${IMAGE_URI}"

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve -var="image_uri=${IMAGE_URI}"
